body{
    height: 100%;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

div,ul,table{
    box-sizing: border-box;
}

.vis_box {
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    height: 50%;
    min-height:300px
}

.vis {
    height: 100%;
    border-radius: 6px;
    background-color: #FFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 5px;
}

/*.layui-table-cell{*/
/*    height:18px;*/
/*    line-height: 18px;*/
/*}*/

/*#commit_dynamic{*/
/*    color: #393D49;*/
/*    font-size: 12px;*/
/*    line-height: 1.85;*/
/*    text-align: center;*/
/*}*/

#commit_dynamic{
    overflow: auto;
}

#commit_dynamic .title {
    margin-bottom: 10px;
}

#commit_dynamic .layui-icon{
    font-size: 12px;
}
#commit_dynamic .layui-timeline-item {
    padding-bottom: 10px;
}

#commit_dynamic li {
    transition: all .1s;
    border-radius: 6px;
}
#commit_dynamic li:hover{
    background-color: rgba(95,184,120,0.5);
}

a {
    color: #005980;
    cursor:pointer;
}

#visualization_main .title {
    text-align: center;
    font-weight: bold;
    color:#58a6fd;
    font-size:16px;
    margin-bottom: 10px;
}

/*热力图 居中对齐*/
#cal-heatmap .cal-heatmap-container {
    margin: auto;
}


/*滚动条*/
#visualization_main ::-webkit-scrollbar{
    width:8px;
    height:10px;
}
#visualization_main ::-webkit-scrollbar-track{
    /*background: rgb(239, 239, 239);*/
    /*border-radius:2px;*/
}
#visualization_main ::-webkit-scrollbar-thumb{
    background: #e2e2e2;
    border-radius:4px;
}
#visualization_main ::-webkit-scrollbar-thumb:hover{
    /*background: #333;*/
    background-color: rgb(95, 184, 120);
}
/*#visualization_main ::-webkit-scrollbar-corner{*/
/*    background: #179a16;*/
/*}*/

