<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>crm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>




  <!-- 乱码过滤器 -->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.qkmango.hm.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <!--匹配后缀名的，前面不要加开头斜杠-->
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <!--是否登陆的过滤器-->
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.qkmango.hm.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>

  <!-- 是否为管理员过滤器 -->
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>cn.qkmango.hm.web.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>*.admin.do</url-pattern>
<!--    <url-pattern>/addHomework.admin.do</url-pattern>-->
  </filter-mapping>

  
  <servlet>
    <servlet-name>SystemController</servlet-name>
    <servlet-class>cn.qkmango.hm.system.web.controller.SystemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemController</servlet-name>
    <url-pattern>/system/oss/getOssSts.do</url-pattern>
    <url-pattern>/system/user/login.do</url-pattern>
    <url-pattern>/system/user/logout.do</url-pattern>
    <url-pattern>/system/user/getUserinfo.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HomeworkController</servlet-name>
    <servlet-class>cn.qkmango.hm.homework.web.controller.HomeworkController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeworkController</servlet-name>
    <url-pattern>/homework/getCourseList.do</url-pattern>
    <url-pattern>/homework/getHomeworkById.do</url-pattern>
    <url-pattern>/homework/getHomeworkPageList.do</url-pattern>
    <url-pattern>/homework/getHomeworkIsCommit.do</url-pattern>
    <url-pattern>/homework/commitHomework.do</url-pattern>
    <url-pattern>/homework/deleteCommitHomework.do</url-pattern>

    <url-pattern>/homework/addHomework.admin.do</url-pattern>
    <url-pattern>/homework/deleteHomework.admin.do</url-pattern>
    <url-pattern>/homework/getHomeworkByIdOfEdit.admin.do</url-pattern>
    <url-pattern>/homework/editHomework.admin.do</url-pattern>
  </servlet-mapping>




</web-app>